In [12]:
#importing the necessary libraries
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from urllib.request import urlopen

In [2]:
#reading in the county population information, stored as a singular
#text file with 15million rows
dftext = pd.read_csv('us.1969_2020.19ages (1).txt', header = None)
#displaying the text imported as a datframe to understand it
dftext

                                   0
0         1969AL01001991910000000159
1         1969AL01001991910100000657
2         1969AL01001991910200001137
3         1969AL01001991910300000956
4         1969AL01001991910400000721
...                              ...
15535908  2020WY56045993921400000021
15535909  2020WY56045993921500000002
15535910  2020WY56045993921600000002
15535911  2020WY56045993921700000002
15535912  2020WY56045993921800000002

[15535913 rows x 1 columns]

In [8]:
#The indices are based on the data dictionary available
#https://seer.cancer.gov/popdata/popdic.html
indices = [0, 4, 6, 8,11,13,14,15,16,18]

#splitting each string of each row by each index value
#storing the final outputs as a list
megalist = []
for i in range(len(dftext)):
    #extracting the text at the i'th row
    s = dftext[0][i]
    #splitting by the respective parts
    parts = [s[k:j] for k,j in zip(indices, indices[1:]+[None])]
    #adding the outputs as a list to the lists
    megalist.append(parts)

In [9]:
#converting the list of lists to a datframe
dfc = pd.DataFrame(megalist)

In [23]:
#renaming the columns
dfc.rename(columns={0: "Year", 1: "State", 2: 'State Code', 3: 'County Code', 
                   4: 'Registry', 5: 'Race', 6: 'Origin', 7: 'Sex',
                  8: 'Age', 9: 'Population'}, inplace = True)

In [35]:
#dropping the redundant column names
dfc.drop(columns = ['Registry', 'State'], inplace = True)

In [37]:
#changing the population values to be ints
dfc['Population'] = dfc['Population'].astype(int)

In [39]:
#Grouping by the Year, State Code, County Code and finding the sum of the population
#essentially, this sums the population values for all genders, all races
#storing the output as a dataframe
df = pd.DataFrame(dfc.groupby(['Year','State Code', 'County Code'])['Population'].sum())

In [41]:
#resetting the index for readability
df.reset_index(inplace = True)

In [43]:
#creating a new column named location to store a unique identifier of the state
#and the respective county. This will be useful later
df['location'] = df['State Code'] + df['County Code']

In [44]:
#storing the output as a csv
df.to_csv("datacleanedup.csv")